.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin-bottom: 28px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: black;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__button {
  margin-right: 8px;
  border: none;
  background-color: white;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: black;
}

.header__avatar-logo {
  border-radius: 50%;
}
